/*FONTS*/

@font-face {
  font-family: fuentePersonalizada;
  src: url(../fonts/ShadowsIntoLight-Regular.ttf);
}


/*BODY*/
.containerMain {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: fuentepersonalizada;
}

/*SEASONS LI*/

.color-green {
  background-color: rgba(10, 172, 10, 0.3);

}

.color-strong {
  color: white;
}

hr {
  color: white;
}

.fs-4 {
  color: white;
}

.menuList {

  background-color: rgba(10, 172, 10, 1); 
}

/*FOOTER*/

.footer {
  color: white;
}

/*NAVBAR*/

.nav-link {
  color: white;
}

.nav-pills .nav-link:hover {
  background-color: green; 
  color: white;
}

/*NAME EPISODE - DATEAIR*/

.change-color {
  color: white;
}

/*CARDS*/

.change-color-cards {
  background-color: rgba(10, 172, 10, 0.8);
  color: white;
}
